body {
    margin: 0;
    padding: 0;
    position:relative;
}
body::before {
    content:'';
    position:fixed;
    width:100%;
    height:100%;
    background-image: url(bg-pattern.png);
    background-repeat: repeat;
    opacity: 0.1;
    z-index: 0;
}
.home {
    background-color: rgba(255, 255, 227, 0.8);
    height: auto;
    margin:0;
    padding:10px;
}
.nav {
    background-color: rgb(109, 129, 150);
    padding:2px;
    border-radius: 10px;
    position:relative;
    z-index: 4;
}
.nav ul{
    list-style:none;
    display:flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;

}
.nav a{
    font-family: 'Amaranth';
    font-size: 18px;
    color: rgba(255, 255, 255, 0.77);
    text-decoration: none;
    position:relative;
}
.nav a::after {
    content: '';
    position:absolute;
    left:0;
    bottom: -2px;
    width:0;
    height:2px;
    background-color: white;
    transition: width 0.3s ease;
}
.nav a:hover::after {
    width:100%;
}
.hero-section {
    display:flex;
    align-items: center;
    justify-content: space-between;
    height:90vh;
    min-height: 90vh;
}
.hero-section h1{
    font-family: 'Agu Display';
    font-weight: 500;
    font-size:6rem;
    color: rgb(74, 74, 74);
    margin: 0;
    margin-bottom: 2px;
}
.hero-section h3{
    font-family: 'Amaranth';
    font-weight:200;
    font-size:2rem;
    color: rgba(74, 74, 74,0.77);
    margin: 0;
    margin-bottom: 28px;
}
.hero-text button{
    background-color: rgb(203,203,203);
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1.5px solid rgb(74,74,74);
    color: rgb(74, 74, 74);
    border-radius: 20px;
    font-family: 'Amaranth';
    position: relative;
    z-index: 4;
    cursor:pointer;
}
.hero-text {
    padding: 30px;
    margin-left: 10px;
    flex:1;
}
.hero-image {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex:1;
}
.hero-image img{
    width:350px;
    border-radius: 10px;
    position: relative;
    z-index: 4;
}

.about {
    background-color: #6d8196;
    padding:40px;
    padding-bottom: 60px;
    padding-top: 60px;
    display:flex;
}
.profile-img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-img img{
    width: 20rem;
    border-radius: 50%;
    position: relative;
    z-index: 4;
    border: 1px solid;
}
.aboutme {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}
.aboutme p{
    color: white;
    font-size: larger;
    font-weight: lighter;
    font-family: 'Amaranth';
    margin: 0;
    margin-bottom: 5px;
}
.aboutme h3{
    color: white;
    font-size: 5rem;
    font-weight: normal;
    font-family:  'Agu Display' ;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

footer {
    background-color: rgba(255, 255, 227, 0.8) ;
    margin: 0px;
    padding:10px;
    font-family: 'Amaranth';
    font-size: 1rem;
    font-weight: lighter;
    position: relative;
    z-index: 4;
    color: #4A4A4A;
}

.artworks-body {
    background-color: rgba(255, 255, 227, 0.8);
    height: auto;
    margin:0;
    padding:10px;
}

.artworks-text h1{
    font-family:  'Agu Display';
    font-weight: normal;
    color: rgb(74, 74, 74);
}

.artworks-text p{
    font-family: 'Amaranth';
    font-weight: lighter;
    color:rgba(74, 74, 74, 0.77);
}

.art-card {
    background-color: #6d8196;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    z-index: 4;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.15);
}

.art-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    background-color: #6d8196;
    padding: 10px;
}

.card-info {
    padding: 8px 12px;
    text-align: center;
}

.art-date {
    color: white;
    font-family: 'Amaranth';
    font-size: 0.85rem;
    font-weight: bold;
    margin: 0;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 30px;
    position: relative;
    z-index: 4;
}


.blogs-body {
    background-color: rgba(255, 255, 227, 0.8);
    margin: 0;
    padding: 10px;
}


.contact-body {
    background-color: rgba(255, 255, 227, 0.8);
    margin: 0;
    padding: 10px;
}

.contact-text h1 {
    font-family: 'Agu Display';
    font-weight: normal;
    font-size: 2rem;
    color: rgb(74, 74, 74);
    margin-bottom: 10px;
}

.contact-text p{
    font-family: 'Amaranth';
    font-weight: lighter;
    font-size: 2rem;
    color: rgba(74, 74, 74, 0.77);
}

.contact-card {
    background-color: rgb(109, 129, 150);
    border-radius: 10px;
    padding:20px;
    position:relative;
    z-index: 10;
    display:flex;
    align-items: center;
    gap: 2rem;
    width: fit-content;
    margin: 0 auto;
}

.contact-card a{
    color:white;
}
.mandala img{
    height:18rem;
    border-radius: 8px;
    position:relative;
    z-index: 10;
}
.mandala {
    padding:18px;
}

.blogs-text h1{
    font-family: 'Agu Display';
    font-weight: lighter;
    color: rgb(74,74,74);
}

.blogs-text h3 {
    font-family: 'Amaranth';
    font-weight: 2rem;
    font-weight: lighter;
    color: rgba(74, 74, 74, 0.77);
}

.blogs-grid {
    padding:60px;
    display:flex;
    flex-direction: column;
    gap:28px;
}

.blog-card {
    background-color: rgb(109, 129, 150);
    padding:18px;
    display:flex;
    gap: 2rem;
    position:relative;
    z-index: 10;
    color:white;
}

@media (max-width: 768px) {
    .hero-section{
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }
    .hero-section h1{
        font-size:3rem;
    }
    .hero-image img{
        width:250px;
    }
    .about {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 40px 20px;
    }

    .profile-img {
        width: 100%;
        margin-bottom: 20px;
    }

    .profile-img img {
        width: 200px;
    }

    .aboutme {
        width: 100%;
        align-items: center;
    }

    .aboutme h3 {
        font-size: 3rem;
    }
    .contact-text h1 {
    font-size: 1.6rem;
    }
    .contact-text p {
    font-size: 1.2rem;
    }
}
