body{
    background-color: rgb(255, 255, 227);
}
h1{
    font-family: 'Agu Display';
    font-weight:normal;
    color: rgb(74, 74, 74);
}
h3{
    font-family: 'Amaranth';
    font-weight:normal;
    color: rgb(74, 74, 74);
}
h2{
    font-family: 'Amaranth';
    font-weight:normal;
    color: rgb(74, 74, 74);
}